site_name: QoS Guard
site_description: ROS 2 QoS Dependency Conflict Detector
site_url: https://csi-dgist.github.io/QoS-Guard/
repo_url: https://github.com/csi-dgist/QoS-Guard

theme:
  name: material
  language: en
  palette:
    - scheme: default
      primary: indigo
      toggle:
        icon: material/brightness-7
        name: Dark mode
    - scheme: slate
      primary: indigo
      toggle:
        icon: material/brightness-4
        name: Light mode
  features:
    - navigation.tabs
    - navigation.sections
    - content.code.copy
    - navigation.expand

use_directory_urls: true

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - How to use : QoS_Guard.md
  - QoS Encyclopedia : QoS.md
  - QoS Rules:
    - Overview: rules/index.md
    - STD Rules: rules/STD.md
    - IMP Rules: rules/IMP.md
    - EMP Rules: rules/EMP.md
