.md-typeset table td:nth-child(1) {
    font-size: 20px !important;
    font-weight: 800 !important;
    text-align: center !important;
    color: #4E5EB4 !important; /* 이미지에서 추출한 블루 색상 적용 */
    vertical-align: middle !important;
}

hr.double-blue {
    border: none;
    border-top: 4px double #4E5EB4;
    opacity: 0.6;
    height: 4px;
    margin: 40px 0;
}

hr.grad-center {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), #4E5EB4, rgba(0,0,0,0));
    margin: 30px 0;
}

hr.grad-left {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, #4E5EB4, rgba(0,0,0,0));
    opacity: 0.6;
    margin: 25px 0;
}

hr.short-bar {
    border: 0;
    height: 4px;
    background: #4E5EB4;
    width: 80px;
    margin: 50px auto;
    opacity: 0.8;
    border-radius: 10px;
}

.divider-dots {
    text-align: center;
    color: #4E5EB4;
    opacity: 0.5;
    font-size: 20px;
    letter-spacing: 15px;
    margin: 35px 0;
}
